
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-9 col-sm-12">

          <%
          posts.forEach(post => {
            const date = new Date(post.publishedAt);
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const formattedDate = date.toLocaleDateString('en-US', options);
          %>
            <div class="post-preview">
              <div class="row align-items-center click-hover-effect pt-2 pb-2 clickable-row" data-href="/<%= post.permalink %>">
                <div class="col-9 col-sm-10 px-4">
                  <h2 class="display-8 pt-3"><%= post.title %></h2>
                  <h3 class="display-10 text-muted">
                    <%= post.description.length > 100 ? post.description.substring(0, 100) + '...' : post.description %>
                  </h3>
                  <p class="text-muted small">
                    Posted by <a href="#!"><%= post.firstname %></a> on <%= formattedDate %>
                  </p>
                </div>
                <div class="col-3 col-sm-2">
                  <% if (post.fileName) { %>
                    <img src="<%= apiUrl %>/api/files/display?fileName=<%= post.fileName %>" class="img-fluid rounded-end" alt="Post Thumbnail" />
                  <% } else { %>
                    <img src="<%= themePath %>/assets/img/no-image.jpg" class="img-fluid rounded-end" alt="No Image Thumbnail" />
                  <% } %>
                </div>
              </div>
            </div>
            <!-- Divider-->
            <hr style="border: 1px solid #d7d7d7;" />
          <% }) %>

          <!-- Pager-->
          <nav class="d-flex justify-content-center mb-4">
            <ul class="pagination">
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="<%= currentPage === i ? 'active' : '' %> me-2">
                  <a href="?page=<%= i %>" class="btn btn-outline-primary"><%= i %></a>
                </li>
              <% } %>
            </ul>
          </nav>    
            
        </div>
    </div>
</div>

