<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= keywords %>" />
  <meta name="description" content="<%= description %>" />
  <meta name="author" content="" />
  <meta name="generator" content="Olopage" />
  <title><%= title %></title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="<%= themePath %>/assets/css/styles.css">        
  <link rel="stylesheet" href="<%= themePath %>/assets/css/app.css">    
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <%- body %>
  </main>

  <%- include('partials/footer') %>

  <!-- Bootstrap core JS-->
  <script src="<%= themePath %>/assets/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="<%= themePath %>/assets/js/scripts.js"></script>
</body>
</html>
